// imports
@import '../../styles/_variables.scss';
//IE
p {
    &.IE-text {
        margin-top: 40px;
        text-align: center;
    }
}
// slider
.onboarding-slider {
    text-align: center;
    // slides
    .slides {
        padding-bottom: 30px;
        .content-wrapper {
            max-width: 80%;
            margin: auto;
            position: relative;
            * {
                color: rgba(255, 255, 255, 1);
            }
            @media (max-width: 1024px) and (orientation: landscape) {
                max-width: 75%;
                margin: auto;
            }
        }
        .onboarding-media {
            width: 100%;
            &.mobile {
                margin-top: 25px;
            }
        }
        .media-wrapper {
            position: relative;
            width: 600px;
            margin: auto;
            .video-container {
                position: absolute;
                left: 50%;
                bottom: 58px;
                width: 436px;
                transform: translateX(-50%);
                margin-left: -9px;
                outline: none !important;
            }
        }
        h3 {
            white-space: pre-line;
            line-height: 1.1em;
        }
        .button {
            display: block;
            margin: auto;
        }
    }

    // dots
    .onboarding-dots {
        bottom: -30px;
    }

    @media screen and (max-width: $mobile) {
        .slides {
            .content-wrapper {
                max-width: 85%;
                margin: auto;
            }
        }
        h5 {
            font-size: 16px;
        }
        h3 {
            font-size: 25px;
        }
    }

    // media
    @media (max-width: $medium-screen) and (orientation: portrait) {
        margin-top: 450px;
    }
    @media (max-width: 1024px) and (orientation: landscape) {
        margin-top: 100px;
    }
    @media (max-width: 1024px) and (orientation: portrait) {
        margin-top: 200px;
    }
    // @media (max-width: 1024px) and (orientation: landscape) {
    //     margin-top: 120px;
    // }
    // @media (max-width: $mobile) and (orientation: portrait) {
    //     margin-top: 50px;
    // }
    // @media (max-width: $mobile) and (orientation: landscape) {
    //     margin-top: 0px;
    // }

    // ie helper text
    .ie-text {
        margin-top: 40px;
        text-align: center;
    }

    // mobile slider
    .mobile & {
        background-color: #000;
        .slides {
            video {
                max-height: 100vh;
            }
        }
        .onboarding-dots {
            bottom: 35px;
        }
        .slick-prev {
            left: 25px;
        }
        .slick-next {
            right: 25px;
        }
        .slick-prev,
        .slick-next {
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .onboarding-container {
        padding: 80px 0;
        overflow: hidden;
        .slick-dots {
            margin-top: 0px;
        }
        .slick-arrow {
            display: none;
        }
    }
}
