// imports
@import '../../styles/_variables.scss';

// overlay
.overlay-container {
    text-align: center;
    margin: 50px auto;
    padding-top: 170px;

    // youtube
    .youtube-container {
        width: 740px;
        margin: auto;
        position: relative;

        // youtube shadow
        .youtube-frame {
            -webkit-box-shadow: 0px 2px 17px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 17px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 2px 17px -5px rgba(0, 0, 0, 0.75);
            position: relative;
            z-index: 1;
        }

        .bg-pattern {
            content: url('./assets/youtube-bg.png');
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -200px;
            z-index: -1;
        }

        // media
        @media screen and (max-width: $medium-screen) {
            width: 540px;
            .youtube-frame {
                width: 100%;
                height: 300px;
            }
            .bg-pattern {
                bottom: -140px;
            }
        }

        @media screen and (max-width: $mobile) {
            width: 100%;
            .bg-pattern {
                bottom: -110px;
            }
        }
    }

    // content
    .content-container {
        width: 768px;
        max-width: 100%;
        margin: auto;
        margin-top: 70px;
        h3 {
            margin-bottom: 20px;
            line-height: 1.2em;
            // media
            @media screen and (max-width: $medium-screen) {
                font-size: 30px;
            }
        }
        p {
            text-align: left;
        }
        @media screen and (max-width: $medium-screen) {
            margin-top: 40px;
            h3 {
                font-size: 24px;
            }
        }
    }

    .inner-container {
        width: 800px;
        max-width: 100%;
        margin: 40px auto 0;
        text-align: left;
        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }

    .buttons-wrapper {
        margin: 30px auto;
    }

    // media
    @media screen and (max-width: $medium-screen) {
        padding-top: 70px;
    }
}

// prize container
.prizes-container {
    h3 {
        margin-bottom: 30px;
    }
    .numbered-list {
        margin-top: 30px;
        padding-left: 0;
        span {
            font-weight: 600;
            font-size: 18px;
        }
        > div {
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
        }
        // bullet
        span.bullet {
            color: #000000;
            background-color: #fff;
            padding: 6px 10px;
            border-radius: 50%;
            margin-right: 20px;
            font-weight: 600;
            line-height: 1em;
        }
        // small text
        span.small-text {
            font-weight: 200;
            font-size: 14px;
        }
    }
    .prize-image {
        min-width: 870px;
        left: -120px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // media
        @media screen and (max-width: $medium-screen) {
            left: -100px;
            min-width: 730px;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        padding-top: 150px;
        padding-bottom: 50px;
        text-align: center;
        h3 {
            font-size: 26px;
            text-align: center;
        }
        p {
            text-align: center;
        }
        .prize-image {
            position: relative;
            left: 0;
            max-width: 100%;
            min-width: auto;
        }
    }
}
