// imports
@import '../../styles/_variables.scss';

// button controls container
.bottomctrls-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    //new width
    width: 260px;
    height: 120px;
    top: 615px;
    text-align: center;
    .helper-links {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        color: #fde607;
        p {
            font-size: 14px;
            position: relative;
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                border-bottom: 1px solid #fde607;
                height: 1px;
                width: auto;
                left: 0px;
                right: 0px;
            }
        }
        a {
            color: #fde607;
            &:after {
                display: none;
            }
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        width: 220px;
        top: 460px;
        // links
        .helper-links {
            margin-top: 15px;
            p {
                font-size: 12px;
            }
            a {
                font-size: 12px;
            }
        }
    }

    // on mobile
    .mobile-state & {
        width: 250px;
        top: 330px;
        margin-bottom: 20px;
        .helper-links p,
        .helper-links a {
            font-size: 10px;
            line-height: 1em;
        }
        .helper-links {
            margin-top: 30px;
            span {
                font-size: 10px;
                line-height: 10px;
            }
        }
        .button {
            font-size: 10px;
            line-height: 10px;
            padding: 6px 10px;
        }
    }
}
