// imports
@import '../../styles/_variables.scss';

// labels
.label-container {
    position: absolute;
    width: 380px;
    left: 50%;
    top: 222px;
    transform: translateX(-50%);

    @media screen and (max-width: $medium-screen) {
        width: 280px;
        left: 500px;
        top: 166px;
    }

    > * {
        position: absolute;
        left: 5px;
        width: 100%;
    }
    .title {
        font-size: 14px;
        color: #eeeeee;
        text-transform: uppercase;
        margin-bottom: 0;
        position: absolute;
        top: 30px;
        z-index: 1;
        font-weight: 400;

        @media screen and (max-width: $medium-screen) {
            font-size: 12px;
            top: 18px;
        }
    }
    &.active {
        z-index: -1;
    }
    .selection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 55px;
        span {
            color: #f5fa19;
            font-size: 16px;
            font-weight: 900;
            width: 130px;
        }

        @media screen and (max-width: $medium-screen) {
            top: 38px;
            span {
                font-size: 14px;
            }
        }
    }
    .marquee-container {
        text-transform: uppercase;
        color: #f5fa19;
        position: absolute;
        bottom: -103px;
        left: 30px;
        width: 335px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;

        @media screen and (max-width: $medium-screen) {
            bottom: -82px;
            left: 25px;
            width: 242px;
        }

        .label {
            display: inline-block;
            vertical-align: center;
            * {
                display: inline-block;
                vertical-align: center;
            }
            img {
                margin: 0 10px 0 0;
            }
            p {
                margin: 0 12px 0 5px;
                font-size: 12px;
                line-height: 1em;
                font-weight: 400;
            }
            &.a {
                animation: marquee 20s linear infinite;
            }
            &.b {
                animation: marquee2 20s linear infinite;
                animation-delay: 10s;
            }
        }
    }

    // on mobile
    .mobile-state & {
        width: 300px;
        left: 365px;
        top: 85px;

        .title {
            font-size: 10px;
        }

        .selection span {
            font-size: 12px;
        }

        .marquee-container {
            width: 260px;
            p {
                font-size: 8px;
            }
        }
    }
}

// animation
@keyframes marquee {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(-100%, 0);
    }
}

@keyframes marquee2 {
    from {
        transform: translate(0%, 0);
    }
    to {
        transform: translate(-200%, 0);
    }
}
