.analytics-page {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 20px 0 30px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0a32;
    button {
        margin-top: 10px;
    }
    table {
        color: white;
        font-size: 12px;
        width: 500px;
        margin: auto;
        td {
            padding: 1px;
        }
    }
}
